{% extends "base.html.twig" %}

{% block title %}
    Bienvenue sur le meilleur réseau d'appartements
{% endblock %}

{% block body %}


    
<main class="container mt-3">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col">
            <h1 class="display-4 fst">Bienvenue sur SWEAT HOME 🏠</h1>
            <p class="lead my-3">Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter d'opportunités et ganger de l'argent en proposant leurs bien à la location.</p>
            <hr class="my-4">
            <p>Vous êtes voyageurs ? Et vous voulez voir où vous pourrez vous loger pour votre prochain déplacement ?</p>
            <p class="lead">
                <a href="#" role="button" class="btn btn-primary btn-lg">Voir les annonces</a>
            </p>

        </div>
    </div>
</main>

<h2 class="container mt-5 mb-5">Nos appartements stars ⭐⭐⭐</h2>

<div class="container">
    <div class="row">
        {% for data in ads %}
            {% include "ad/_ad.html.twig" with {'ad': data.annonce} %}
        {% endfor %}
    </div>
</div>

<h2 class="container mt-5 mb-5">Nos propriétaires stars 😊⭐</h2>

    
    <div class="container mb-5">

        <div class="row">

        {% for data in users %}

            <div class="col">

                <div class="card border-secondary mb3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    
                    <div class="card-body">

                        <h4 class="card-title">{{data.user.fullName}}</h4>

                        <hr>

                        <div class="card-text">

                            <img style="border-radius:50%; max-width: 120px; max-height: 120px;" src="{{ data.user.picture }}" alt="Avatar de {{data.user.fullName}}" class="float-left mr-3">
                            
                            <p>{{data.user.introduction | raw}}</p>
                            
                        
                        </div>

                            <a href="{{path('user_show', {'slug': data.user.slug})}}" class="btn btn-success float-right border rounded">En savoir plus !</a>
                    </div>

                </div>

            </div>

        {% endfor %}

        </div>

    </div>


{% endblock %}

