{% extends 'base.html.twig' %}

{% block title %}{{ad.title}}{% endblock %}

{% block body %}

<div class="ad-title" style="background-image: url('https://prod-saint-gobain-fr.content.saint-gobain.io/sites/saint-gobain.fr/files/2020-10/moderniser-appartement-la-maison-saint-gobain.jpg')">
    <div class="container">
        <h1>{{ad.title}}</h1>
        <p>{{ad.introduction}}</p>

        <p class="h2">
            <strong>{{ad.rooms}} chambres</strong> pour <strong>{{ad.price}}&euro;</strong> par nuit
        </p>
        <a href="" class="btn btn-primary">Réserver</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">

            {{ad.content | raw}}

           {#  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in ad.images %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                     {% endfor %}
                </ol>

                <div class="carousel-inner">

                    {% for image in ad.images %}
                        
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img class="d-block w-100" src="{{ad.coverImage}}" alt="First slide">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ad.title}}</h5>
                            <span>{{image.caption}}</span>
                        </div>

                        
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Precedent</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div> #}

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

                <div class="carousel-indicators">

                    {% for image in ad.images %}

                        <button type="button" 
                                data-bs-target="#carouselExampleIndicators" 
                                data-bs-slide-to="{{ loop.index0 }}" 
                                {% if loop.first %} class="active" {% endif %} 
                                aria-current="true" 
                                aria-label="Slide 1">
                        </button>
                    
                    {% endfor %}
                
                </div>
               
                <div class="carousel-inner">

                    {% for image in ad.images %}

                    <div class="carousel-item {% if loop.first %} active {% endif %}">

                        <img src="{{ad.coverImage}}" class="d-block w-100" alt="First Slide">

                        <div class="carousel-caption d-none d-md-block">

                            <h5>{{ad.title}}</h5>

                            <p>{{image.caption}}</p>

                        </div>
                    </div>


                   {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>

        <div class="col">
            <div class="row">
                <div class="col-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/921/921124.png" width = 100 alt="Avatar user" class="float-left mr-3">
                </div>
                <div class="col">
                    <h3>Ruth MUMBA</h3>
                    <span class="btn btn-primary">3 annonces</span>
                </div>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam quis tempora deserunt optio minima nostrum exercitationem quo commodi sit veniam?</p>
            <p>Similique nihil omnis mollitia quo vitae veritatis natus cumque magni impedit error iusto, quia sint ea eaque sit delectus repudiandae!</p>
            <p>Doloribus, mollitia illo cum placeat, architecto non suscipit deleniti nam saepe earum minima, error aspernatur provident at assumenda eius dolor!</p>
        </div>
    </div>
</div>
  
{% endblock %}